/* IMPORTS */
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --primary-color: #333;
  --text-color: #fff;
  --secondary-color: #f4f4f4;
  --background-color: #212121;
  --border-color: #ccc;
  --hover-color: #444;
  --active-color: #222;
  --focus-color: #444;
  --button-color: #4caf50;
  --button-hover-color: #45a049;
  --valid-color: green;
  --invalid-color: red;
  --generel-color: #d95428;
}
/* #region Global Styles */
body {
  font-family: Oswald, Geneva, Tahoma, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  text-align: left;
  margin-bottom: 1rem;
}
img {
  width: 100%;
  height: auto;
  margin: 0.7rem 0;
}
/* #endregion */
/* #region Header */
#globalHeader {
  position: relative;
}

#globalHeader h1 {
  position: absolute;
  left: 0;
  right: 10;
  bottom: 0;
  color: #ae2320;
  background-color: #dedede;
  font-size: 12rem;
  margin: 1rem;
  padding: 1rem;
}

#globalHeader img {
  min-width: 896px;
  width: 100%;
  height: auto;
}
/* #endregion */
/* #region Nav */
nav {
  display: flex;
  background-color: var(--primary-color);
  padding: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
nav ul {
  list-style: none;
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
nav ul li a {
  color: var(--nav-color);
  text-decoration: none;
  border-radius: 5px;
}
nav ul:last-of-type li a {
  color: var(--text-color);
  background-color: #6161d7;
  display: block;
  padding: 0.4rem 0.2rem;
  width: 100%;
}
nav ul:last-of-type li:last-of-type a {
  background-color: #4f884f;
}
/* #endregion */
